nav{
  background-color:  #FBC1C1;
  z-index: 300;
}
.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background-image: linear-gradient(180deg, rgb(38 54 96) 0%, #775380 70%);;
  background-image: linear-gradient(180deg, rgb(80 0 0) 0%, #d94949 70%);
  box-shadow: 0px 4px 4px rgba(68, 68, 68, 0.25);
  z-index: 300;
}

.user-name {
  font-size: 0.89rem;
}

.mat-toolbar .dropdown .dropdown-menu{
  transform:translatex(-113px) translatey(30px) !important;
 }
 .txt-option {
  font-size: 1.03em;
  font-weight: lighter;
 }
 .txt-panel-header {
  color: #9d9d9d;
 }
 
.sidenav-container {
  height: 100%;
}
.sidenav {
  width: max-content;
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 400 !important;
  font-size: small;
}
.btn-right{
  position:relative;
  margin-left: auto;
  }
.icon-nav {
  color: #655a5a;
  padding-right: 33px;
}
.icon-nav:hover {
  color: #ad8989;
}

.mat-nav-list a.active {
  // color: #ffffff;
  font-size: 0.9em;
  border-right: 6px solid #b33f3f !important;
  border-radius: 5px;
  border: 1px solid #e5e4e4;
  background-color: #efeaea;
}
.activeModulo mat-expansion-panel-header {
  font-weight: bold;
}
.txt-option:hover {
  border: 1px solid #e5e4e4;
}

.mat-expansion-panel-header {
  padding: 0 15px !important;
}

mat-expansion-panel-header .mat-expansion-indicator {
  margin-left: 1.25rem !important;
}

.pointer{
  cursor:  pointer;
  border-color: #b33f3f;
}

.mat-list-base {
  display: grid !important;
}

.verComo {
  margin-top: 153px;
  position: absolute;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-wrap: nowrap;
  right: 0;
  left: 0;
  justify-content: space-between;
  z-index: 0;
  background-color: rgb(127 123 123 / 16%);
  flex-direction: row;
}
.dataVer {
  font-size: 12px;
  margin: 1rem;

}
